#ignore txt files created as part of git submission
balrams.txt  
bronnc.txt  
fernandb.txt
wolfek.txt

# ignore virtual environments, the user has to create that themselves
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignore MAC stuff
.DS_store

# ignore vscode stuff
.vscode

# ignore Pycharm stuff
.idea